header {
	background-color: $primary;
	padding-bottom: 5rem;

	.container {
		border-radius: 1rem;
		// background-image: url("/src/images/bg-pattern.svg");
		// background-repeat: no-repeat;
		// background-position: center;
		// background-size: cover;

		.hero-img-wrapper {
			position: relative;
			text-align: center;

			.blob {
				text-align: center;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;

				img {
					width: 60%;
				}
			}

			.hero-img {
				position: relative;
				z-index: 2;
			}
		}

		img {
			width: 75%;
		}

		h1,
		h3 {
			color: $white;
		}

		.job-title {
			color: $accent;
			font-variant: small-caps;
		}

		.icon-btn {
			border: 2px solid $accent;
			background: $accent;
			color: $primary;
			box-shadow: inset 0 0 0.5rem 0 $accent, 0 0 0.5rem 0 $accent;

			&:hover,
			&:focus {
				background-color: transparent;
				color: $accent;
				text-shadow: 0 0 0.125rem rgba(255, 255, 255, 0.5),
					0 0 0.125rem $accent;
			}

			&:last-child {
				background-color: transparent;
				color: $accent;
				text-shadow: 0 0 0.125rem rgba(255, 255, 255, 0.5),
					0 0 0.125rem $accent;

				&:hover,
				&:focus {
					background-color: $accent;
					color: $primary;
					text-shadow: none;
				}
			}
		}
	}
}
