$accent: #39ff14;
$primary: #11111f;
$light-primary: lighten($primary, 3%);
$lighter-primary: lighten($primary, 6%);
$white: #ffffff;
$light-gray: #e7e7e9;
$dark-gray: #b8b8bc;
$darker-gray: #707079;
$blue: #00ff71;
$bright-blue: #14aefe;
$green: #7eff66;
$fast-transition: all 0.2s;
$slow-transition: all ease-in 0.3s;
