@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.otf.ttf") format("ttf");
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans.ttf") format("ttf");
}
* {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.accent-bg {
  background-color: #39ff14;
}

.primary-bg {
  background-color: #0b0b13;
}

.light-primary-bg {
  background-color: #0f0f19;
}

.lighter-primary-bg {
  background-color: #11111d;
}

.very-light-primary-bg {
  background-color: #161626;
}

.white-bg {
  background-color: #ffffff;
}

.light-gray-bg {
  background-color: #e7e7e9;
}

.dark-gray-bg {
  background-color: #b8b8bc;
}

.darker-gray-bg {
  background-color: #707079;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
}

h1,
.section-title {
  font-weight: 700 !important;
}

a {
  text-decoration: none;
}

p {
  color: rgba(255, 255, 255, 0.7);
}

section.section-divider img {
  margin-top: -0.5rem;
}

div.btn-container {
  display: flex;
  gap: 1.5rem;
}

a.icon-btn {
  gap: 0.5rem;
}

span.underline {
  position: relative;
}
span.underline:after {
  content: "";
  height: 0.3rem;
  border-radius: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1rem;
  background: linear-gradient(45deg, #39ff14, #aefe14);
  box-shadow: 0 0 0.3rem 0 #39ff14;
}

nav {
  background-color: #0b0b13;
}
nav .hamburger_menu {
  gap: 5px;
  border: none;
  background-color: transparent;
}
nav .bar1,
nav .bar2,
nav .bar3 {
  height: 2px;
  background-color: #39ff14;
  transition: 0.3s;
  border-radius: 1rem;
}
nav .bar1,
nav .bar3 {
  width: 30px;
}
nav .bar2 {
  width: 15px;
}
nav .change .bar1 {
  transform: rotate(-45deg) translate(-3px, 2px);
}
nav .change .bar2 {
  opacity: 0;
}
nav .change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
nav .links {
  display: none;
  gap: 2rem;
  padding: 0.75rem 0;
}
nav .links li {
  text-align: right;
}
nav .links li a {
  display: block;
  text-transform: capitalize;
  color: #e7e7e9;
  width: 100%;
  transition: all ease-in 0.3s;
}
nav .links li:hover a {
  color: #39ff14;
}

.social-icons {
  gap: 1rem;
}
.social-icons li a {
  color: #b8b8bc;
  font-size: 1.2rem;
  transition: all ease-in 0.3s;
}
.social-icons li:hover a {
  color: #39ff14;
}

header {
  background-color: #0b0b13;
  padding-bottom: 5rem;
}
header .container {
  border-radius: 1rem;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}
header .container .hero-img-wrapper {
  position: relative;
  text-align: center;
}
header .container .hero-img-wrapper .blob {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
header .container .hero-img-wrapper .blob img {
  width: 60%;
}
header .container .hero-img-wrapper .hero-img {
  position: relative;
  z-index: 2;
}
header .container img {
  width: 75%;
}
header .container h1,
header .container h3 {
  color: #ffffff;
}
header .container .job-title {
  color: #39ff14;
  font-variant: small-caps;
}
header .container .icon-btn {
  border: 2px solid #39ff14;
  background: #39ff14;
  color: #0b0b13;
  box-shadow: inset 0 0 0.5rem 0 #39ff14, 0 0 0.5rem 0 #39ff14;
}
header .container .icon-btn:hover, header .container .icon-btn:focus {
  background-color: transparent;
  color: #39ff14;
  text-shadow: 0 0 0.125rem rgba(255, 255, 255, 0.5), 0 0 0.125rem #39ff14;
}
header .container .icon-btn:last-child {
  background-color: transparent;
  color: #39ff14;
  text-shadow: 0 0 0.125rem rgba(255, 255, 255, 0.5), 0 0 0.125rem #39ff14;
}
header .container .icon-btn:last-child:hover, header .container .icon-btn:last-child:focus {
  background-color: #39ff14;
  color: #0b0b13;
  text-shadow: none;
}

.projects-container .project-card {
  border-radius: 2rem;
  box-shadow: 0 0 1rem #0b0b13, 2px 2px 8px -2px rgba(11, 11, 19, 0.4), -2px -2px 8px -2px rgba(11, 11, 19, 0.4);
}
.projects-container .project-card img {
  border-radius: 1rem;
}
.projects-container .project-card .project-name {
  font-variant: small-caps;
  font-weight: 600;
}
.projects-container .project-card .skills-title {
  color: #e7e7e9;
  font-weight: 600;
  font-variant: small-caps;
}
.projects-container .project-card .skills-container {
  flex-wrap: wrap;
  gap: 0.5rem;
}
.projects-container .project-card .skills-container li {
  font-variant: small-caps;
  background-color: #707079;
  padding: 0.1rem 0.5rem;
  text-align: center;
  border-radius: 0.3rem;
}
.projects-container .project-card .btn-container {
  justify-content: space-between;
}
.projects-container .project-card .btn-container .btn {
  border: none;
  border-radius: 1rem;
  color: #ffffff;
  background: #1bad00;
}
.projects-container .project-card .btn-container .btn:hover, .projects-container .project-card .btn-container .btn:focus {
  background: #179400;
}

.skill-cards-container {
  flex-wrap: wrap;
  gap: 1rem;
}
.skill-cards-container .skill-card {
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem #0b0b13, 2px 2px 8px -2px rgba(11, 11, 19, 0.4), -2px -2px 8px -2px rgba(11, 11, 19, 0.4);
}
.skill-cards-container .skill-card i {
  color: #e7e7e9;
}
.skill-cards-container .skill-card .skill-card-title {
  font-variant: small-caps;
  color: rgba(255, 255, 255, 0.7);
}

.about-section .container {
  border-radius: 1rem;
  text-align: center;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem #0b0b13, 2px 2px 8px -2px rgba(11, 11, 19, 0.4), -2px -2px 8px -2px rgba(11, 11, 19, 0.4);
}
.contact-section form .input-area {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact-section form button {
  align-self: end;
  background-color: #39ff14;
}
.contact-section form .form-control {
  background-color: #161626;
  border: none;
  resize: none;
  border-radius: 0.5rem;
}

@media screen and (min-width: 768px) {
  header .container img {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */